# --------------------------------- General Environment Variables ----------------------------------
NEXT_PUBLIC_WEBSITE_URL=XXXX

# --------------------------------- Discord Environment Variables ----------------------------------
DISCORD_CLIENT_ID=XXXX
DISCORD_CLIENT_SECRET=XXXX
DISCORD_REDIRECT_URI=XXXX
DISCORD_STATUS_WEBHOOK_URL=XXXX

# -------------------------------- Firebase Environment Variables ----------------------------------
NEXT_PUBLIC_FIREBASE_API_KEY=XXXX
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=XXXX
NEXT_PUBLIC_FIREBASE_PROJECT_ID=XXXX
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=XXXX
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=XXXX
NEXT_PUBLIC_FIREBASE_APP_ID=XXXX
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=XXXX

# ----------------------------- Firebase Admin Environment Variables -------------------------------
FIREBASE_PROJECT_ID=XXXX
FIREBASE_CLIENT_EMAIL=XXXX
FIREBASE_PRIVATE_KEY=XXXX
