# --------------------------------- Discord Environment Variables ----------------------------------
DISCORD_CLIENT_ID=XXXX
DISCORD_CLIENT_SECRET=XXXX
DISCORD_REDIRECT_URI=XXXX

# -------------------------------- Firebase Environment Variables ----------------------------------
FIREBASE_PROJECT_ID=XXXX
FIREBASE_CLIENT_EMAIL=XXXX
FIREBASE_DATABASE_URL=XXXX
FIREBASE_PRIVATE_KEY=XXXX
